In [9]:
#Loops
"""Two types of loops (for and while) loop
For loop
Syntax:
    for counter in range(lower,upper): #upper bound=last_range-1
        body of for loop

while loop
        Initialize your counter variable (before the while block)
Syntax:
        while condition:
            body of while
            increment or decrement 
"""
""""
characters=["a","b","c","d","e","f"]
for character in characters:
    print(character)

using as a index range() function
for count in range(0,3):
    print(count)

characters=["a","b","c","d","e","f"]
for index in range(0,6):
    print(characters[index])
"""

counter=0
while counter<10:
    print(counter,end=" ")
    counter+=1

0 1 2 3 4 5 6 7 8 9

In [24]:
for star in range(5,0,-1):
    print("ðŸŒŸ "*star)

ðŸŒŸ ðŸŒŸ ðŸŒŸ ðŸŒŸ ðŸŒŸ
ðŸŒŸ ðŸŒŸ ðŸŒŸ ðŸŒŸ
ðŸŒŸ ðŸŒŸ ðŸŒŸ
ðŸŒŸ ðŸŒŸ
ðŸŒŸ

In [25]:
for star in range(5,0,-1):
    print("â­ "*star)

â­ â­ â­ â­ â­
â­ â­ â­ â­
â­ â­ â­
â­ â­
â­

In [26]:
for star in range(5,0,-1):
    print("* "*star)

* * * * *
* * * *
* * *
* *
*

In [21]:
for count in range(5,0,-1):
    print("ðŸ™„ = ",count)

ðŸ™„ =  5
ðŸ™„ =  4
ðŸ™„ =  3
ðŸ™„ =  2
ðŸ™„ =  1

In [36]:
"""
Nested loop 
usages:
    1- For traversing the multi-dimensional lists (rows,columns)
    2- condition inside a condition (loop inside a loop)
"""

my_list=[
    ["a",1,2,3],
    ["b","a","d",4],
    ["c","apple","orange",4],
    ["d",100,-20,3]
]

for row in range(0,4):
    for column in range(0,4):
        print(my_list[row][column],end=" ")
    print()

a 1 2 3
b a d 4
c apple orange 4
d 100 -20 3

In [40]:
# Make box of stars: 5 rows and each row must have 5 stars (overall stars=25)

for row in range(1,6):
    for column in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [42]:
for row in range(1,6):
    for column in range(1,6):
        print("â­",end=" ")
    print()

â­ â­ â­ â­ â­
â­ â­ â­ â­ â­
â­ â­ â­ â­ â­
â­ â­ â­ â­ â­
â­ â­ â­ â­ â­

In [2]:
"""
       *
      * *
    * * * *
   * * * * *
"""
for row in range(0,5):
    for space in range(6,row+1,-1):
        print("",end=" ")
    for star in range(0,row+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *